// Utility classes

.tsdg-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.tsdg-text-left {
  text-align: left;
}

.tsdg-text-center {
  text-align: center;
}

.tsdg-text-right {
  text-align: right;
}

.tsdg-truncate {
  @include truncate-text;
}

.tsdg-no-select {
  user-select: none;
}